/*this is used to style all of the other components on the graphic design portfolio page*/
:root {
    --primary-color: #11151c;
    --secondary-color: #212d40;
    --third-color: #364156;
    --fourth-color: #7d4e57;
    --font: "Barlow", sans-serif;
    --fifth-color: #eaac8b;
    --sixth-color: #feae28;
}


.design-project-2 {
    width: 1fr;
    border: 5px solid var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    background-color: var(--secondary-color);
}

.project-2-images {
    width: 100%;
}



.design-project-2 h3 {
    color: white;
    font-size: 25px;

}

.prj-2-ine {
    width: 90%;
    height: 3px;
    background-color: var(--sixth-color);
    margin-bottom: 5px;
}


.prj-2-btm {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.design-project-2 p {

    font-size: 14px;
    color: white;
}

.posters-container {
    display: flex;
    flex-direction: column;
}

.posters-control {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--secondary-color);
    align-items: center;
}

#posters-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

#posters-line {
    width: 120px;
    height: 8px;
    background-color: var(--sixth-color);
    margin-bottom: 0.25em;
}

.poster-title-line {
    width: 300px;
    height: 3px;
    background-color: var(--sixth-color);
}

#posters-header h2 {
    color: white;
    font-size: 3.5em;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
}

.poster-name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.poster-name h3 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2em;
}

#posters-header p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    line-height: 1.5;
}

.posters-content {
    display: flex;
    padding: 0.5em 4em;
    background-color: var(--third-color);
    border-right: 3px solid #182e3b;
    border-left: 3px solid #182e3b;
    border-bottom: 3px solid #182e3b;
}

.poster-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 75px;
    cursor: pointer;
}

.poster-button:hover {
    background-color: var(--fourth-color);
}

.poster-button[active] {
    background-color: var(--fourth-color);
}

.posters-content-2 {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0;
    gap: 1em;
}

#control-btns {
    display: flex;
    width: 100%;
}

.poster-btn-img {
    height: 50px;
}


@media screen and (max-width: 992px) {
    .posters-content {
        display: flex;
        padding: 0.25em 2em;
        background-color: #efefef;
    }

    .posters-content-2 {
        margin-left: 1rem;
        padding: 0.25em 0;
    }
}

@media screen and (max-width: 820px) {
    .design-project-2 {
        width: 1fr;
        border: 5px solid #427693;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
    }



}

@media screen and (max-width: 800px) {
    .posters-control h2 {
        font-size: 40px;
        margin-left: 0.25em;
    }

    .posters-content {
        display: flex;
        padding: 0.25em 2em;
        background-color: #efefef;
    }
}

@media screen and (max-width: 768px) {
    .posters-content {
        flex-direction: column;
        align-items: center;
    }


    .posters-content-2 {
        max-width: 400px;
        align-items: center;
        text-align: center;
    }


    .design-project-2 {
        width: 1fr;
        border: 5px solid #427693;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
    }


    .poster-name {
        align-items: center;
    }


}

@media screen and (max-width: 576px) {


    .posters-control {
        flex-direction: column;
    }


    #posters-header h2 {
        font-size: 3em;
    }


}

@media screen and (max-width: 425px) {
    .design-project-2 {
        width: 1fr;
        border: 5px solid #427693;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
    }



    .poster-title-line {
        width: 250px;
        height: 3px;
        background-color: #F4b076;
    }

    #posters-header h2 {
        color: #182e3b;
        font-size: 2.75em;
        font-weight: 900;
        font-family: 'Oswald', sans-serif;
    }


}

@media screen and (max-width: 400px) {
    .poster-btn-img {
        height: 35px;
    }

    .poster-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 380px) {
    .design-project-2 {
        width: 1fr;
        border: 5px solid #427693;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
    }


}