:root {
    --primary-color: #11151c;
    --secondary-color: #212d40;
    --third-color: #364156;
    --fourth-color: #7d4e57;
    --font: "Barlow", sans-serif;
    --fifth-color: #eaac8b;
    --sixth-color: #feae28;
}



#campaign-slider {
    padding: 5px;
    /* background-color: #efefef; */
    /* background-color: #427693; */
    background-color: var(--third-color);
    width: 90%;
    margin: 20px auto 0 auto;
}

.carousel {
    width: 100%;
    height: 585px;
    position: relative;

}

.slide {
    position: absolute;
    inset: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;

}

.svg-btn {
    fill: var(--fourth-color);
}



.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel>ul {
    margin: 0;
    padding: 0;
}

.carousel-button {
    z-index: 3;
    width: 55px;
    height: 55px;
    border: solid 4px var(--fourth-color);
    opacity: 0.6;
    cursor: pointer;
    border-radius: 100%;
    position: relative;
}

.svg-next-prev {
    height: 27px;
    z-index: 5;
}


.svgnext {
    margin-left: 5px;
}

.svgprev {
    margin-right: 5px;
}


.carousel-button:hover {
    opacity: 1;

}

.carousel-button:hover .svg-btn {
    fill: white;
}


.carousel-button.btn-background-circle::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100%;
    background-color: #efefef;
    z-index: 2;
    transition: transform 500ms ease-in-out;

}

.carousel-button.btn-background-circle:hover::before {
    transform: scale(0);
}

.carousel-button.btn-background-circle {
    z-index: 5;
    background-color: var(--fourth-color);
}


.next {
    position: absolute;
    top: 50%;
    right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}

.prev {
    position: absolute;
    top: 50%;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}



#slide-icons {
    display: flex;
    width: 90%;
    margin: 0.5em auto;
    justify-content: space-between;
    /* background-color: #efefef; */
    /* background-color: #efefef; */
}

.slide-icon {
    height: 100px;
    width: 14%;
    background-size: cover;
    background-position: center;
    /* border: 2px solid #F4b076; */
    border-bottom: 4px solid var(--fourth-color);
    opacity: 0.3;
    cursor: pointer;

}

.slide-icon:hover {
    opacity: 0.5;
    border-bottom: 4px solid var(--sixth-color);
}

.active-slide-icon {
    /* border-bottom: 4px solid #F4b076; */
    opacity: 1;
}

/* .next-button-style {
    width: 18px;
    height: 45px;
  
    opacity: 1;
}

.prev-button-style {
    width: 18px;
    height: 45px;

    opacity: 1;

} */

ul[data-slides] {
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

li.slide {
    flex: 0 0 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

li.slide.active {
    opacity: 1;
}


@media screen and (max-width:1200px) {
    #campaign-slider {
        padding: 10px;
        background-color: #efefef;
        width: 95%;
        margin: 0 auto;
    }

    .carousel {
        width: 100%;
        height: 515px;
        position: relative;

    }

    #gallery-or-slider {
        width: 95%;
    }

    #drink-campaign-description {
        width: 90%;
        margin: 0 auto;
    }

    #slide-icons {
        width: 95%;
    }

    .slide-icon {
        height: 85px;
    }
}

@media screen and (max-width:992px) {
    #campaign-slider {
        padding: 10px;
        background-color: #efefef;
        width: 95%;
        margin: 0 auto;
    }

    .carousel {
        width: 100%;
        height: 435px;
        position: relative;

    }

    .slide-icon {
        height: 75px;
    }
}


@media screen and (max-width:768px) {
    /* .next {
        position: absolute;
        top: 80%;
        right: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .prev {
        position: absolute;
        top: 80%;
        left: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    #campaign-slider {
        padding: 10px;
        background-color: #efefef;
        width: 99%;
        margin: 0 auto;
    }

    #slide-icons {
        width: 99%;
    }

    .carousel {
        width: 100%;
        height: 350px;
        position: relative;

    }

    #gallery-or-slider {
        width: 99%;
    }

    .slide-icon {
        height: 60px;
    }



    .carousel-button {

        width: 45px;
        height: 45px;

    }

    .svg-next-prev {
        height: 20px;
    }

    .svgnext {
        margin-left: 4px;
    }

    .svgprev {
        margin-right: 4px;
    }
}

@media screen and (max-width:576px) {
    .carousel {
        width: 100%;
        height: 260px;
        position: relative;

    }

    .slide-icon {
        height: 50px;
    }
}

@media screen and (max-width: 450px) {
    .carousel {

        height: 220px;
    }

    .carousel-button {

        width: 38px;
        height: 38px;

    }

    .svg-next-prev {
        height: 18px;
    }

    .next {
        position: absolute;
        top: 92%;
        right: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .prev {
        position: absolute;
        top: 92%;
        left: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:400px) {
    .carousel {
        width: 100%;
        height: 195px;
        position: relative;

    }

    .slide-icon {
        height: 40px;
    }
}



@media screen and (max-width: 350px) {
    .carousel {
        width: 100%;
        height: 165px;
        position: relative;

    }


    .next {
        position: absolute;
        top: 88%;
        right: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .prev {
        position: absolute;
        top: 88%;
        left: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 300px) {
    .carousel {
        width: 100%;
        height: 145px;
        position: relative;

    }
}